# Advanced Pune Cafe Sales Dataset Analysis

### Objective

Identify the **top-performing-products** in terms of total revenue. Identify seasonal patterns and any significant anomalies or shifts in sales over the year.

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("C:\\Users\\mohin\\Downloads\\Advanced_Pune_Cafe_Sales_2000.csv")
df

,order_id,date,outlet_location,outlet_manager,customer_type,item_category,item_name,quantity_sold,price_per_unit,total_bill,...,time_of_day,temperature_c,day_of_week,customer_rating,discount_percent,final_amount,special_event,staff_id,day_type,cumulative_sales_outlet
0,ORD51036,19-10-2025,Hinjewadi,Priya Nair,Regular,Snack,Cheese Garlic Bread,4,245,980,...,Morning,34.9,Sunday,3.1,15,833.00,Weekend Special,ST11,Weekend,833.00
1,ORD94971,09-10-2025,Kothrud,Arjun Mehta,Tourist,Beverage,Cappuccino,3,134,402,...,Evening,25.3,Thursday,3.0,0,402.00,NaN,ST4,Weekday,402.00
2,ORD82709,07-10-2025,Viman Nagar,Rohit Deshmukh,Tourist,Beverage,Green Tea,3,243,729,...,Evening,29.0,Tuesday,4.8,5,692.55,Weekend Special,ST22,Weekday,692.55
3,ORD61541,22-10-2025,Viman Nagar,Rohit Deshmukh,Tourist,Beverage,Cappuccino,1,174,174,...,Evening,25.7,Wednesday,4.8,0,174.00,Diwali Offer,ST22,Weekday,866.55
4,ORD20674,07-10-2025,Kothrud,Arjun Mehta,New,Dessert,Cheesecake,4,175,700,...,Afternoon,26.8,Tuesday,4.4,15,595.00,Coffee Fest,ST4,Weekday,997.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,ORD88057,03-10-2025,Viman Nagar,Rohit Deshmukh,New,Beverage,Hot Chocolate,4,169,676,...,Evening,25.8,Friday,4.9,15,574.60,Weekend Special,ST14,Weekday,188004.30
1996,ORD71910,26-10-2025,Viman Nagar,Rohit Deshmukh,Tourist,Dessert,Brownie,1,171,171,...,Night,32.5,Sunday,3.8,0,171.00,Coffee Fest,ST20,Weekend,188175.30
1997,ORD13597,14-10-2025,Kothrud,Arjun Mehta,Tourist,Snack,Pasta,4,162,648,...,Afternoon,32.7,Tuesday,3.1,5,615.60,NaN,ST16,Weekday,175690.50
1998,ORD37000,18-10-2025,Koregaon Park,Amit Sharma,New,Snack,French Fries,3,234,702,...,Morning,30.0,Saturday,3.2,10,631.80,NaN,ST10,Weekend,190355.85
1999,ORD86916,22-10-2025,Kothrud,Arjun Mehta,New,Beverage,Hot Chocolate,4,224,896,...,Evening,25.2,Wednesday,3.0,5,851.20,NaN,ST11,Weekday,176541.70

In [5]:
df.head()

,order_id,date,outlet_location,outlet_manager,customer_type,item_category,item_name,quantity_sold,price_per_unit,total_bill,...,time_of_day,temperature_c,day_of_week,customer_rating,discount_percent,final_amount,special_event,staff_id,day_type,cumulative_sales_outlet
0,ORD51036,19-10-2025,Hinjewadi,Priya Nair,Regular,Snack,Cheese Garlic Bread,4,245,980,...,Morning,34.9,Sunday,3.1,15,833.00,Weekend Special,ST11,Weekend,833.00
1,ORD94971,09-10-2025,Kothrud,Arjun Mehta,Tourist,Beverage,Cappuccino,3,134,402,...,Evening,25.3,Thursday,3.0,0,402.00,NaN,ST4,Weekday,402.00
2,ORD82709,07-10-2025,Viman Nagar,Rohit Deshmukh,Tourist,Beverage,Green Tea,3,243,729,...,Evening,29.0,Tuesday,4.8,5,692.55,Weekend Special,ST22,Weekday,692.55
3,ORD61541,22-10-2025,Viman Nagar,Rohit Deshmukh,Tourist,Beverage,Cappuccino,1,174,174,...,Evening,25.7,Wednesday,4.8,0,174.00,Diwali Offer,ST22,Weekday,866.55
4,ORD20674,07-10-2025,Kothrud,Arjun Mehta,New,Dessert,Cheesecake,4,175,700,...,Afternoon,26.8,Tuesday,4.4,15,595.00,Coffee Fest,ST4,Weekday,997.00

In [6]:
df.tail()

,order_id,date,outlet_location,outlet_manager,customer_type,item_category,item_name,quantity_sold,price_per_unit,total_bill,...,time_of_day,temperature_c,day_of_week,customer_rating,discount_percent,final_amount,special_event,staff_id,day_type,cumulative_sales_outlet
1995,ORD88057,03-10-2025,Viman Nagar,Rohit Deshmukh,New,Beverage,Hot Chocolate,4,169,676,...,Evening,25.8,Friday,4.9,15,574.6,Weekend Special,ST14,Weekday,188004.30
1996,ORD71910,26-10-2025,Viman Nagar,Rohit Deshmukh,Tourist,Dessert,Brownie,1,171,171,...,Night,32.5,Sunday,3.8,0,171.0,Coffee Fest,ST20,Weekend,188175.30
1997,ORD13597,14-10-2025,Kothrud,Arjun Mehta,Tourist,Snack,Pasta,4,162,648,...,Afternoon,32.7,Tuesday,3.1,5,615.6,NaN,ST16,Weekday,175690.50
1998,ORD37000,18-10-2025,Koregaon Park,Amit Sharma,New,Snack,French Fries,3,234,702,...,Morning,30.0,Saturday,3.2,10,631.8,NaN,ST10,Weekend,190355.85
1999,ORD86916,22-10-2025,Kothrud,Arjun Mehta,New,Beverage,Hot Chocolate,4,224,896,...,Evening,25.2,Wednesday,3.0,5,851.2,NaN,ST11,Weekday,176541.70

In [7]:
df.drop(['order_id','staff_id'],axis=1,inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     2000 non-null   object
 1   outlet_location          2000 non-null   object
 2   outlet_manager           2000 non-null   object
 3   customer_type            2000 non-null   object
 4   item_category            2000 non-null   object
 5   item_name                2000 non-null   object
 6   quantity_sold            2000 non-null   int64
 7   price_per_unit           2000 non-null   int64
 8   total_bill               2000 non-null   int64
 9   cost_price               2000 non-null   float64
 10  profit                   2000 non-null   float64
 11  payment_mode             2000 non-null   object
 12  time_of_day              2000 non-null   object
 13  temperature_c            2000 non-null   float64
 14  day_of_week              2000 non-null   object
 15  customer_rating          2000 non-null   float64
 16  discount_percent         2000 non-null   int64
 17  final_amount             2000 non-null   float64
 18  special_event            593 non-null    object
 19  day_type                 2000 non-null   object
 20  cumulative_sales_outlet  2000 non-null   float64
dtypes: float64(6), int64(4), object(11)
memory usage: 328.3+ KB

In [46]:
df.describe()

,quantity_sold,price_per_unit,total_bill,cost_price,profit,temperature_c,customer_rating,discount_percent,final_amount,cumulative_sales_outlet,Day,Month,Year
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.0,2000.0
mean,2.499500,200.353000,500.813500,350.866920,149.946580,29.518550,3.993100,7.642500,462.413100,92518.355200,15.999500,10.0,2025.0
std,1.113831,58.527866,274.319218,195.203022,88.624357,3.165595,0.581938,5.519957,255.380474,53543.128595,8.954306,0.0,0.0
min,1.000000,100.000000,100.000000,63.150000,21.620000,24.000000,3.000000,0.000000,85.850000,203.300000,1.000000,10.0,2025.0
25%,2.000000,150.000000,267.750000,183.082500,79.637500,26.775000,3.500000,5.000000,246.575000,46386.687500,8.000000,10.0,2025.0
50%,3.000000,201.000000,460.000000,316.375000,131.355000,29.600000,4.000000,10.000000,421.900000,91790.750000,16.000000,10.0,2025.0
75%,3.000000,249.000000,696.750000,478.690000,203.172500,32.300000,4.500000,15.000000,636.300000,138889.637500,24.000000,10.0,2025.0
max,4.000000,300.000000,1200.000000,946.730000,477.600000,35.000000,5.000000,15.000000,1200.000000,190768.200000,31.000000,10.0,2025.0

In [48]:
df.describe(include='all')

,outlet_location,outlet_manager,customer_type,item_category,item_name,quantity_sold,price_per_unit,total_bill,cost_price,profit,...,temperature_c,day_of_week,customer_rating,discount_percent,final_amount,day_type,cumulative_sales_outlet,Day,Month,Year
count,2000,2000,2000,2000,2000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000,2000.000000,2000.000000,2000.000000,2000,2000.000000,2000.000000,2000.0,2000.0
unique,5,5,3,3,17,NaN,NaN,NaN,NaN,NaN,...,NaN,7,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN
top,Koregaon Park,Amit Sharma,Tourist,Beverage,Ice Cream,NaN,NaN,NaN,NaN,NaN,...,NaN,Wednesday,NaN,NaN,NaN,Weekday,NaN,NaN,NaN,NaN
freq,428,428,675,696,145,NaN,NaN,NaN,NaN,NaN,...,NaN,324,NaN,NaN,NaN,1483,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,2.499500,200.353000,500.813500,350.866920,149.946580,...,29.518550,NaN,3.993100,7.642500,462.413100,NaN,92518.355200,15.999500,10.0,2025.0
std,NaN,NaN,NaN,NaN,NaN,1.113831,58.527866,274.319218,195.203022,88.624357,...,3.165595,NaN,0.581938,5.519957,255.380474,NaN,53543.128595,8.954306,0.0,0.0
min,NaN,NaN,NaN,NaN,NaN,1.000000,100.000000,100.000000,63.150000,21.620000,...,24.000000,NaN,3.000000,0.000000,85.850000,NaN,203.300000,1.000000,10.0,2025.0
25%,NaN,NaN,NaN,NaN,NaN,2.000000,150.000000,267.750000,183.082500,79.637500,...,26.775000,NaN,3.500000,5.000000,246.575000,NaN,46386.687500,8.000000,10.0,2025.0
50%,NaN,NaN,NaN,NaN,NaN,3.000000,201.000000,460.000000,316.375000,131.355000,...,29.600000,NaN,4.000000,10.000000,421.900000,NaN,91790.750000,16.000000,10.0,2025.0
75%,NaN,NaN,NaN,NaN,NaN,3.000000,249.000000,696.750000,478.690000,203.172500,...,32.300000,NaN,4.500000,15.000000,636.300000,NaN,138889.637500,24.000000,10.0,2025.0
max,NaN,NaN,NaN,NaN,NaN,4.000000,300.000000,1200.000000,946.730000,477.600000,...,35.000000,NaN,5.000000,15.000000,1200.000000,NaN,190768.200000,31.000000,10.0,2025.0

In [10]:
df.duplicated().sum()

0

In [11]:
df.isnull().sum()

date                          0
outlet_location               0
outlet_manager                0
customer_type                 0
item_category                 0
item_name                     0
quantity_sold                 0
price_per_unit                0
total_bill                    0
cost_price                    0
profit                        0
payment_mode                  0
time_of_day                   0
temperature_c                 0
day_of_week                   0
customer_rating               0
discount_percent              0
final_amount                  0
special_event              1407
day_type                      0
cumulative_sales_outlet       0
dtype: int64

In [12]:
df["date"] = pd.to_datetime(df["date"])

C:\Users\mohin\AppData\Local\Temp\ipykernel_1040\3228555721.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["date"] = pd.to_datetime(df["date"])

In [13]:
df['Day'] = df['date'].dt.day
df['Month'] = df['date'].dt.month
df['Year'] = df['date'].dt.year

In [14]:
df.drop(['special_event'],axis=1,inplace=True)

In [15]:
df.isnull().sum()

date                       0
outlet_location            0
outlet_manager             0
customer_type              0
item_category              0
item_name                  0
quantity_sold              0
price_per_unit             0
total_bill                 0
cost_price                 0
profit                     0
payment_mode               0
time_of_day                0
temperature_c              0
day_of_week                0
customer_rating            0
discount_percent           0
final_amount               0
day_type                   0
cumulative_sales_outlet    0
Day                        0
Month                      0
Year                       0
dtype: int64

In [16]:
df.drop(['date'],axis=1,inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   outlet_location          2000 non-null   object
 1   outlet_manager           2000 non-null   object
 2   customer_type            2000 non-null   object
 3   item_category            2000 non-null   object
 4   item_name                2000 non-null   object
 5   quantity_sold            2000 non-null   int64
 6   price_per_unit           2000 non-null   int64
 7   total_bill               2000 non-null   int64
 8   cost_price               2000 non-null   float64
 9   profit                   2000 non-null   float64
 10  payment_mode             2000 non-null   object
 11  time_of_day              2000 non-null   object
 12  temperature_c            2000 non-null   float64
 13  day_of_week              2000 non-null   object
 14  customer_rating          2000 non-null   float64
 15  discount_percent         2000 non-null   int64
 16  final_amount             2000 non-null   float64
 17  day_type                 2000 non-null   object
 18  cumulative_sales_outlet  2000 non-null   float64
 19  Day                      2000 non-null   int32
 20  Month                    2000 non-null   int32
 21  Year                     2000 non-null   int32
dtypes: float64(6), int32(3), int64(4), object(9)
memory usage: 320.4+ KB

In [18]:
df.head()

,outlet_location,outlet_manager,customer_type,item_category,item_name,quantity_sold,price_per_unit,total_bill,cost_price,profit,...,temperature_c,day_of_week,customer_rating,discount_percent,final_amount,day_type,cumulative_sales_outlet,Day,Month,Year
0,Hinjewadi,Priya Nair,Regular,Snack,Cheese Garlic Bread,4,245,980,771.03,208.97,...,34.9,Sunday,3.1,15,833.00,Weekend,833.00,19,10,2025
1,Kothrud,Arjun Mehta,Tourist,Beverage,Cappuccino,3,134,402,267.03,134.97,...,25.3,Thursday,3.0,0,402.00,Weekday,402.00,9,10,2025
2,Viman Nagar,Rohit Deshmukh,Tourist,Beverage,Green Tea,3,243,729,519.16,209.84,...,29.0,Tuesday,4.8,5,692.55,Weekday,692.55,7,10,2025
3,Viman Nagar,Rohit Deshmukh,Tourist,Beverage,Cappuccino,1,174,174,105.44,68.56,...,25.7,Wednesday,4.8,0,174.00,Weekday,866.55,22,10,2025
4,Kothrud,Arjun Mehta,New,Dessert,Cheesecake,4,175,700,559.49,140.51,...,26.8,Tuesday,4.4,15,595.00,Weekday,997.00,7,10,2025

In [19]:
df.shape

(2000, 22)

In [20]:
df.nunique()

outlet_location               5
outlet_manager                5
customer_type                 3
item_category                 3
item_name                    17
quantity_sold                 4
price_per_unit              201
total_bill                  581
cost_price                 1969
profit                     1935
payment_mode                  3
time_of_day                   4
temperature_c               111
day_of_week                   7
customer_rating              21
discount_percent              4
final_amount               1258
day_type                      2
cumulative_sales_outlet    1999
Day                          31
Month                         1
Year                          1
dtype: int64

In [58]:
df['outlet_location'].value_counts()

outlet_location
Koregaon Park    428
Hinjewadi        405
Viman Nagar      399
Baner            389
Kothrud          379
Name: count, dtype: int64

In [42]:
df[df['outlet_location']=='Hinjewadi']

,outlet_location,outlet_manager,customer_type,item_category,item_name,quantity_sold,price_per_unit,total_bill,cost_price,profit,...,temperature_c,day_of_week,customer_rating,discount_percent,final_amount,day_type,cumulative_sales_outlet,Day,Month,Year
0,Hinjewadi,Priya Nair,Regular,Snack,Cheese Garlic Bread,4,245,980,771.03,208.97,...,34.9,Sunday,3.1,15,833.00,Weekend,833.00,19,10,2025
12,Hinjewadi,Priya Nair,New,Dessert,Donut,1,289,289,183.21,105.79,...,27.8,Monday,4.9,15,245.65,Weekday,1078.65,20,10,2025
13,Hinjewadi,Priya Nair,Tourist,Dessert,Ice Cream,3,293,879,655.87,223.13,...,33.9,Saturday,4.8,15,747.15,Weekend,1825.80,25,10,2025
18,Hinjewadi,Priya Nair,Regular,Dessert,Cheesecake,1,288,288,195.27,92.73,...,35.0,Thursday,4.8,10,259.20,Weekday,2085.00,23,10,2025
25,Hinjewadi,Priya Nair,New,Dessert,Donut,4,200,800,483.75,316.25,...,31.1,Monday,4.5,15,680.00,Weekday,2765.00,20,10,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1967,Hinjewadi,Priya Nair,Regular,Dessert,Brownie,4,103,412,295.07,116.93,...,30.6,Friday,3.8,5,391.40,Weekday,188920.95,3,10,2025
1974,Hinjewadi,Priya Nair,Tourist,Beverage,Green Tea,3,147,441,317.89,123.11,...,33.7,Friday,3.2,5,418.95,Weekday,189339.90,17,10,2025
1977,Hinjewadi,Priya Nair,Regular,Beverage,Hot Chocolate,3,141,423,300.03,122.97,...,31.7,Tuesday,4.9,5,401.85,Weekday,189741.75,14,10,2025
1986,Hinjewadi,Priya Nair,Regular,Dessert,Chocolate Muffin,4,249,996,724.14,271.86,...,32.1,Sunday,3.5,10,896.40,Weekend,190638.15,19,10,2025
1987,Hinjewadi,Priya Nair,Regular,Snack,Pasta,1,153,153,102.55,50.45,...,30.4,Monday,4.5,15,130.05,Weekday,190768.20,6,10,2025

In [64]:
df['item_category'].value_counts()

item_category
Beverage    696
Snack       665
Dessert     639
Name: count, dtype: int64

In [72]:
df[(df['item_category'] == 'Beverage') & (df['outlet_location'] == 'Baner')]

,outlet_location,outlet_manager,customer_type,item_category,item_name,quantity_sold,price_per_unit,total_bill,cost_price,profit,...,temperature_c,day_of_week,customer_rating,discount_percent,final_amount,day_type,cumulative_sales_outlet,Day,Month,Year
7,Baner,Sneha Patil,New,Beverage,Cappuccino,3,243,729,479.32,249.68,...,29.2,Tuesday,4.7,10,656.10,Weekday,656.10,7,10,2025
19,Baner,Sneha Patil,Tourist,Beverage,Green Tea,3,213,639,457.25,181.75,...,28.2,Wednesday,4.0,5,607.05,Weekday,1425.15,8,10,2025
24,Baner,Sneha Patil,Regular,Beverage,Cappuccino,2,160,320,241.22,78.78,...,33.5,Monday,3.3,15,272.00,Weekday,1879.05,27,10,2025
27,Baner,Sneha Patil,Tourist,Beverage,Cold Coffee,1,164,164,106.94,57.06,...,29.1,Wednesday,4.8,15,139.40,Weekday,2018.45,29,10,2025
30,Baner,Sneha Patil,New,Beverage,Masala Chai,4,111,444,295.78,148.22,...,34.7,Wednesday,4.1,5,421.80,Weekday,2440.25,15,10,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1887,Baner,Sneha Patil,Tourist,Beverage,Masala Chai,3,151,453,334.03,118.97,...,29.6,Sunday,4.1,15,385.05,Weekend,174450.55,19,10,2025
1933,Baner,Sneha Patil,Tourist,Beverage,Green Tea,1,252,252,177.46,74.54,...,31.9,Sunday,3.9,0,252.00,Weekend,175390.80,12,10,2025
1935,Baner,Sneha Patil,Regular,Beverage,Masala Chai,2,197,394,292.07,101.93,...,32.0,Thursday,3.4,5,374.30,Weekday,175765.10,23,10,2025
1971,Baner,Sneha Patil,Tourist,Beverage,Masala Chai,2,273,546,394.69,151.31,...,28.7,Friday,3.4,5,518.70,Weekday,177094.70,24,10,2025
1981,Baner,Sneha Patil,Tourist,Beverage,Green Tea,4,137,548,434.97,113.03,...,28.6,Tuesday,4.1,10,493.20,Weekday,177871.00,21,10,2025

In [66]:
df['item_name'].value_counts()

item_name
Ice Cream              145
Iced Latte             145
Brownie                140
Cappuccino             131
Hot Chocolate          129
Paneer Wrap            124
Chocolate Muffin       122
French Fries           120
Cold Coffee            120
Donut                  117
Cheesecake             115
Burger                 114
Cheese Garlic Bread    110
Pasta                   99
Veg Sandwich            98
Masala Chai             87
Green Tea               84
Name: count, dtype: int64

In [68]:
df['payment_mode'].value_counts()

payment_mode
Card    683
UPI     660
Cash    657
Name: count, dtype: int64

In [74]:
df['time_of_day'].value_counts()

time_of_day
Morning      524
Afternoon    495
Night        492
Evening      489
Name: count, dtype: int64

In [76]:
df.groupby('item_name')['customer_rating'].mean()

item_name
Brownie                3.945714
Burger                 4.073684
Cappuccino             4.064122
Cheese Garlic Bread    4.079091
Cheesecake             4.070435
Chocolate Muffin       3.963115
Cold Coffee            3.890000
Donut                  3.940171
French Fries           3.951667
Green Tea              3.985714
Hot Chocolate          4.022481
Ice Cream              3.951724
Iced Latte             3.964828
Masala Chai            4.079310
Paneer Wrap            3.986290
Pasta                  3.946465
Veg Sandwich           4.012245
Name: customer_rating, dtype: float64

In [78]:
df['customer_rating'].max()

5.0

In [80]:
df[df['customer_rating'] == 5.0]

,outlet_location,outlet_manager,customer_type,item_category,item_name,quantity_sold,price_per_unit,total_bill,cost_price,profit,...,temperature_c,day_of_week,customer_rating,discount_percent,final_amount,day_type,cumulative_sales_outlet,Day,Month,Year
11,Koregaon Park,Amit Sharma,New,Beverage,Masala Chai,1,100,100,63.15,36.85,...,32.5,Thursday,5.0,10,90.00,Weekday,497.60,23,10,2025
21,Kothrud,Arjun Mehta,Tourist,Beverage,Hot Chocolate,3,206,618,470.30,147.70,...,26.0,Friday,5.0,0,618.00,Weekday,2142.25,31,10,2025
104,Viman Nagar,Rohit Deshmukh,New,Beverage,Cappuccino,1,240,240,182.13,57.87,...,27.6,Thursday,5.0,5,228.00,Weekday,8522.30,30,10,2025
109,Hinjewadi,Priya Nair,New,Dessert,Cheesecake,1,111,111,71.37,39.63,...,25.6,Sunday,5.0,10,99.90,Weekend,11246.15,26,10,2025
110,Baner,Sneha Patil,Regular,Dessert,Chocolate Muffin,2,254,508,339.91,168.09,...,25.8,Tuesday,5.0,0,508.00,Weekday,11739.15,21,10,2025
169,Kothrud,Arjun Mehta,Regular,Snack,Burger,1,228,228,158.83,69.17,...,26.9,Thursday,5.0,0,228.00,Weekday,13057.45,2,10,2025
174,Kothrud,Arjun Mehta,New,Beverage,Iced Latte,1,245,245,169.02,75.98,...,24.1,Sunday,5.0,10,220.50,Weekend,13384.15,19,10,2025
229,Koregaon Park,Amit Sharma,Tourist,Dessert,Cheesecake,4,173,692,429.16,262.84,...,24.2,Wednesday,5.0,5,657.40,Weekday,22146.25,8,10,2025
272,Baner,Sneha Patil,Tourist,Beverage,Green Tea,1,126,126,96.76,29.24,...,32.2,Saturday,5.0,10,113.40,Weekend,28545.15,4,10,2025
274,Kothrud,Arjun Mehta,Regular,Dessert,Cheesecake,3,243,729,538.93,190.07,...,29.4,Sunday,5.0,0,729.00,Weekend,23227.60,19,10,2025
334,Koregaon Park,Amit Sharma,Tourist,Beverage,Cold Coffee,3,218,654,433.68,220.32,...,32.5,Monday,5.0,15,555.90,Weekday,37667.95,20,10,2025
393,Koregaon Park,Amit Sharma,New,Beverage,Hot Chocolate,3,208,624,395.11,228.89,...,28.8,Friday,5.0,10,561.60,Weekday,43310.35,10,10,2025
467,Kothrud,Arjun Mehta,Regular,Snack,French Fries,1,243,243,157.14,85.86,...,32.4,Saturday,5.0,15,206.55,Weekend,39712.95,11,10,2025
481,Kothrud,Arjun Mehta,New,Dessert,Donut,3,269,807,568.95,238.05,...,29.6,Thursday,5.0,10,726.30,Weekday,42378.45,16,10,2025
581,Kothrud,Arjun Mehta,New,Beverage,Iced Latte,1,189,189,134.96,54.04,...,33.4,Monday,5.0,10,170.10,Weekday,49845.85,20,10,2025
671,Viman Nagar,Rohit Deshmukh,Tourist,Beverage,Iced Latte,2,257,514,330.27,183.73,...,34.6,Monday,5.0,10,462.60,Weekday,52274.55,27,10,2025
876,Koregaon Park,Amit Sharma,Tourist,Dessert,Donut,1,269,269,177.99,91.01,...,27.5,Wednesday,5.0,0,269.00,Weekday,90871.50,8,10,2025
926,Koregaon Park,Amit Sharma,Regular,Beverage,Cappuccino,1,221,221,133.74,87.26,...,29.7,Friday,5.0,10,198.90,Weekday,96176.05,24,10,2025
972,Baner,Sneha Patil,New,Dessert,Ice Cream,1,276,276,180.06,95.94,...,24.9,Sunday,5.0,0,276.00,Weekend,91689.00,5,10,2025
983,Kothrud,Arjun Mehta,Tourist,Dessert,Ice Cream,1,234,234,153.34,80.66,...,34.9,Wednesday,5.0,15,198.90,Weekday,81057.35,29,10,2025
1057,Hinjewadi,Priya Nair,New,Dessert,Chocolate Muffin,2,145,290,186.39,103.61,...,24.3,Monday,5.0,15,246.50,Weekday,103918.10,13,10,2025
1151,Hinjewadi,Priya Nair,New,Beverage,Masala Chai,3,212,636,449.84,186.16,...,26.5,Thursday,5.0,15,540.60,Weekday,114551.70,2,10,2025
1176,Viman Nagar,Rohit Deshmukh,Tourist,Dessert,Chocolate Muffin,1,106,106,81.06,24.94,...,25.4,Friday,5.0,0,106.00,Weekday,96477.15,31,10,2025
1195,Viman Nagar,Rohit Deshmukh,New,Snack,French Fries,3,299,897,596.98,300.02,...,25.7,Sunday,5.0,5,852.15,Weekend,99127.75,12,10,2025
1211,Koregaon Park,Amit Sharma,Tourist,Beverage,Iced Latte,4,226,904,577.18,326.82,...,32.8,Saturday,5.0,0,904.00,Weekend,117573.35,4,10,2025
1249,Hinjewadi,Priya Nair,Tourist,Snack,Burger,4,152,608,377.70,230.30,...,30.5,Saturday,5.0,15,516.80,Weekend,123116.65,11,10,2025
1301,Koregaon Park,Amit Sharma,Regular,Snack,Pasta,1,110,110,83.28,26.72,...,24.9,Tuesday,5.0,10,99.00,Weekday,124383.90,14,10,2025
1307,Koregaon Park,Amit Sharma,Tourist,Beverage,Cappuccino,4,112,448,336.55,111.45,...,30.3,Friday,5.0,10,403.20,Weekday,125578.80,31,10,2025
1309,Kothrud,Arjun Mehta,Tourist,Snack,Paneer Wrap,3,285,855,630.09,224.91,...,25.8,Monday,5.0,0,855.00,Weekday,111757.50,6,10,2025
1373,Viman Nagar,Rohit Deshmukh,New,Dessert,Ice Cream,4,196,784,531.75,252.25,...,30.5,Thursday,5.0,5,744.80,Weekday,118203.90,30,10,2025
1429,Kothrud,Arjun Mehta,Tourist,Beverage,Iced Latte,3,203,609,449.13,159.87,...,25.0,Tuesday,5.0,5,578.55,Weekday,121956.35,21,10,2025
1457,Hinjewadi,Priya Nair,New,Snack,Pasta,3,270,810,492.89,317.11,...,28.7,Saturday,5.0,5,769.50,Weekend,144876.35,25,10,2025
1518,Koregaon Park,Amit Sharma,New,Dessert,Chocolate Muffin,2,276,552,414.01,137.99,...,33.5,Monday,5.0,10,496.80,Weekday,142017.90,13,10,2025
1519,Baner,Sneha Patil,Tourist,Snack,Paneer Wrap,2,213,426,332.66,93.34,...,29.7,Tuesday,5.0,15,362.10,Weekday,153596.40,28,10,2025
1610,Hinjewadi,Priya Nair,Tourist,Beverage,Hot Chocolate,3,111,333,217.07,115.93,...,24.8,Thursday,5.0,5,316.35,Weekday,156424.80,30,10,2025
1611,Viman Nagar,Rohit Deshmukh,Tourist,Snack,Cheese Garlic Bread,2,209,418,275.51,142.49,...,25.6,Sunday,5.0,0,418.00,Weekend,139622.35,5,10,2025
1623,Koregaon Park,Amit Sharma,Regular,Beverage,Hot Chocolate,1,160,160,121.02,38.98,...,33.0,Friday,5.0,15,136.00,Weekday,148128.45,17,10,2025
1684,Hinjewadi,Priya Nair,New,Snack,Veg Sandwich,1,286,286,197.93,88.07,...,28.9,Monday,5.0,10,257.40,Weekday,160779.10,6,10,2025
1711,Viman Nagar,Rohit Deshmukh,Tourist,Beverage,Green Tea,3,278,834,558.60,275.40,...,32.2,Friday,5.0,0,834.00,Weekday,153798.85,3,10,2025
1715,Baner,Sneha Patil,Regular,Beverage,Green Tea,1,267,267,210.97,56.03,...,31.9,Friday,5.0,10,240.30,Weekday,166238.95,3,10,2025
1741,Kothrud,Arjun Mehta,New,Dessert,Donut,1,255,255,170.85,84.15,...,26.5,Tuesday,5.0,0,255.00,Weekday,148715.55,28,10,2025
1782,Viman Nagar,Rohit Deshmukh,Tourist,Beverage,Hot Chocolate,4,235,940,629.53,310.47,...,28.7,Friday,5.0,10,846.00,Weekday,164681.20,10,10,2025
1802,Koregaon Park,Amit Sharma,Tourist,Dessert,Donut,4,185,740,486.99,253.01,...,28.1,Wednesday,5.0,0,740.00,Weekday,170168.80,29,10,2025
1837,Hinjewadi,Priya Nair,Regular,Dessert,Brownie,4,287,1148,848.10,299.90,...,34.0,Sunday,5.0,0,1148.00,Weekend,174161.05,12,10,2025
1884,Hinjewadi,Priya Nair,Regular,Beverage,Iced Latte,3,237,711,535.42,175.58,...,31.3,Wednesday,5.0,0,711.00,Weekday,177967.25,1,10,2025
1957,Koregaon Park,Amit Sharma,New,Beverage,Green Tea,4,130,520,341.62,178.38,...,33.8,Saturday,5.0,10,468.00,Weekend,183833.45,18,10,2025

In [84]:
df[(df['customer_rating'] == 5.0) & (df['time_of_day']=='Morning')]

,outlet_location,outlet_manager,customer_type,item_category,item_name,quantity_sold,price_per_unit,total_bill,cost_price,profit,...,temperature_c,day_of_week,customer_rating,discount_percent,final_amount,day_type,cumulative_sales_outlet,Day,Month,Year
110,Baner,Sneha Patil,Regular,Dessert,Chocolate Muffin,2,254,508,339.91,168.09,...,25.8,Tuesday,5.0,0,508.00,Weekday,11739.15,21,10,2025
581,Kothrud,Arjun Mehta,New,Beverage,Iced Latte,1,189,189,134.96,54.04,...,33.4,Monday,5.0,10,170.10,Weekday,49845.85,20,10,2025
1211,Koregaon Park,Amit Sharma,Tourist,Beverage,Iced Latte,4,226,904,577.18,326.82,...,32.8,Saturday,5.0,0,904.00,Weekend,117573.35,4,10,2025
1429,Kothrud,Arjun Mehta,Tourist,Beverage,Iced Latte,3,203,609,449.13,159.87,...,25.0,Tuesday,5.0,5,578.55,Weekday,121956.35,21,10,2025
1518,Koregaon Park,Amit Sharma,New,Dessert,Chocolate Muffin,2,276,552,414.01,137.99,...,33.5,Monday,5.0,10,496.80,Weekday,142017.90,13,10,2025
1611,Viman Nagar,Rohit Deshmukh,Tourist,Snack,Cheese Garlic Bread,2,209,418,275.51,142.49,...,25.6,Sunday,5.0,0,418.00,Weekend,139622.35,5,10,2025
1711,Viman Nagar,Rohit Deshmukh,Tourist,Beverage,Green Tea,3,278,834,558.60,275.40,...,32.2,Friday,5.0,0,834.00,Weekday,153798.85,3,10,2025
1741,Kothrud,Arjun Mehta,New,Dessert,Donut,1,255,255,170.85,84.15,...,26.5,Tuesday,5.0,0,255.00,Weekday,148715.55,28,10,2025
1782,Viman Nagar,Rohit Deshmukh,Tourist,Beverage,Hot Chocolate,4,235,940,629.53,310.47,...,28.7,Friday,5.0,10,846.00,Weekday,164681.20,10,10,2025
1802,Koregaon Park,Amit Sharma,Tourist,Dessert,Donut,4,185,740,486.99,253.01,...,28.1,Wednesday,5.0,0,740.00,Weekday,170168.80,29,10,2025
1837,Hinjewadi,Priya Nair,Regular,Dessert,Brownie,4,287,1148,848.10,299.90,...,34.0,Sunday,5.0,0,1148.00,Weekend,174161.05,12,10,2025

In [86]:
df['quantity_sold'].max()

4

In [101]:
item_sales = df.groupby('item_name')['quantity_sold'].sum().reset_index()
item_with_highest_quantity = item_sales.loc[item_sales['quantity_sold'].idxmax()]

In [103]:
print(item_with_highest_quantity)

item_name        Ice Cream
quantity_sold          358
Name: 11, dtype: object

In [105]:
df['total_bill'].max()

1200

In [109]:
item_category_with_highest_total_bill = df.groupby('item_category')['total_bill'].sum().idxmax()
item_category_with_highest_total_bill

'Beverage'